{
    layer4 {
        :8883 {
            @mqtt tls sni mqtt-mycoai.bandhuja.com

            route @mqtt {
                tls

                proxy emqx:1883
            }
        }
    }
}

#mycoai.bandhuja.com {
#    reverse_proxy app:3000
#}

grafana-mycoai.bandhuja.com {
    reverse_proxy grafana:3000
}

mqtt-mycoai.bandhuja.com {
    abort
}
